.header {
  margin-bottom: 25px;

  .menu {
    @media (min-width: $screen-sm-min) {
      &.collapse {
        display: block;
      }
    }
  }

  a {
    color: black;
    text-decoration: none;
  }

  h1 {
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    line-height: 50px;
  }

  ul {
    margin: 0;
    padding: 0;
    line-height: 50px;

    li {
      text-align: center;
      text-transform: uppercase;
      list-style-type: none;
    }
  }
}
