#header {
  margin-bottom: 50px;

  nav {
    background-color: #fff;
    border: none;
  }

  .menu {
    @media (min-width: $screen-sm-min) {
      &.collapse {
        display: block;
      }
    }
  }

  #navbar-collapse li a {
    color: black;
    text-decoration: none;
  }

  h1 {
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    line-height: 50px;
  }

  ul {
    text-align: right;
    margin: 0;
    padding: 0;
    line-height: 50px;

    li {
      font-size: 20px;
      display: inline;
      text-transform: uppercase;
      list-style-type: none;
    }
  }
}
