.carousel {
  .carousel-inner {
    text-align: center;

    .item img {
      display: block;
      margin: auto;

      @media (min-width: $screen-lg-min) {
        max-height: $container-lg;
      }
      @media (min-width: $screen-md-min) {
        max-height: $container-md;
      }
      @media (min-width: $screen-sm-min) {
        max-height: $container-sm;
      }
    }
  }

  .caption {
    margin-top: 25px;
    text-transform: uppercase;
  }

  .carousel-control {
    &.right, &.left {
      background-image: none;
      width: 50%;
    }
  }
}

.thumbnails {
  margin-top: 50px;

  //&.fade-out {
    //opacity: 0.1;
    //transition: 1s opacity;
  //}

  img {
    opacity: 0.1;

    &:hover {
      opacity: 0.5;
    }

    &.selected {
      opacity: 0.5;
      transition: 1s opacity;
    }
  }
}

  //&:hover {
    //opacity: 1;
  //}
