.gallery {
  position: relative;

  &:hover {
    > .cover {
      display: block;
    }

    img {
      opacity: 0.3;
    }
  }

  img {
    width: 100%;
  }

  .cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      color: black;
      font-size: 18px;
    }
  }
}
