hr {
  margin: 50px 0 !important;
}

.project {
  &.last {
    margin-bottom: 50px;
  }

  .row {
    margin-bottom: 30px;
  }

  h1 {
    text-align: center;
  }

  figure {
    cursor: pointer;

    figcaption {
      text-align: center;
      margin-top: 5px;
      font-size: $font-size-base - 2;
      font-family: 'ff-tisa-web-pro';
    }
  }

  .mb15-sm {
    @media (max-width: $screen-sm-min) {
      margin-bottom: 15px;
    }
  }

  p {
    margin-bottom: 15px;

    @media (min-width: $screen-md-min) {
      margin: 0 200px;
    }
  }

}

.modal-backdrop {
  @media (max-width: $screen-sm) {
    display: none !important;
  }
}

#image {
  @media (max-width: $screen-sm) {
    display: none !important;
  }

  .modal-dialog {
    img {
      width: auto;
      height: auto;
      margin: auto;
    }

    &.landscape {
      width: 75vw;

      img {
        width: 100%;
      }
    }

    &.portrait {
      height: 75vh;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .modal-content {
      width: 100%;
      height: 100%;

      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;

      border: none;
      background-color: transparent;

      text-align: center;
    }
  }
}
