html {
  font-family: 'proxima-nova';
  font-size: 14px;
  color: black;
}

.navbar-collapse {
  padding: 0;
}

.nav li a {
  padding-right: 0;
}

.vs {
  margin-bottom: $grid-gutter-width;
}

img {
  width: 100%;
}

h1 {
  font-family: 'proxima-nova';
  font-size: 36px;
  margin: 0 0 50px 0;
}

a, a:hover {
  color: black;
  text-decoration: none;
}

p {
  font-family: 'minion-pro';
  font-size: 20px;
}

.btn {
  font-size: 20px;
  margin: 20px;
}

.text {
  text-align: left;
}
